body {
		text-align: center;
		margin: 0;
		font-family: 'Calibri', sans-serif;
		background-color: #eeeeff;
	}

	h1 {
		text-transform: uppercase;
		margin: 0px;
	}

	#wrapper {
		margin: 8% auto;
		padding: 50px;
		border: solid 2px #ccc;
		border-radius: 20px;
		width: 400px;
		background-color: #fff;
	}

	#button {
		margin: 20px;
		padding: 10px;
		background-color: #ddddff;
		border: 0px;
		border-radius: 10px;
		outline: none;
	}

	#button:focus, #button:hover {
		background-color: #acdcff;
	}

	#value {
		border-radius: 10px;
		height: 22px;
		padding: 5px 5px 5px 10px;
		border: solid 1px #ccc;
		outline: none;
	}

	.left {
		text-align: left;
	}

	a:focus, a:hover {
		outline: none;
		color: #4676cc;
	}